body{
display: inline-flex;
max-width: 190vh;
margin: 50px;
font-family: 'Public Sans', sans-serif;

}

.topo{
    display: inline-flex;
    align-items: center;
    font-size: 23px;
    font-weight: 800;
    
}


.menu{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 180vh;
    
}

.menu ul{
    display: inline-flex;
    list-style: none;    
    gap: 10px;
    font-size: 15px;
}

.menu li{
    padding: 10px 20px 10px 20px;
}


a:hover{
    color: white;
}

.menu li:hover{
    background-color: #5bc241;
}

.cadastrar{
    background-color: #5bc241;
    border-radius: 10px;
    color: white;
}

