body{
display: inline-flex;
max-width: 190vh;
margin: 50px;
font-family: 'Public Sans', sans-serif;

}

.topo{
    display: inline-flex;
    align-items: center;
    font-size: 23px;
    font-weight: 800;
    
}


.menu{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 180vh;
    
}

.menu ul{
    display: inline-flex;
    list-style: none;    
    gap: 10px;
    font-size: 15px;
}

.menu li{
    padding: 10px 20px 10px 20px;
}

.menu li:hover{
    background-color: #5bc241;
    color: white;
}

.cadastrar{
    background-color: #5bc241;
    border-radius: 10px;
    color: white;
}

@media(max-width: 1780px){
    body{
        width: auto;
        display: flex;
    }

}

@media(max-width: 840px){
    body{
        display: block;
        justify-content: center;
    }

    .topo{
        display: block;
        text-align: center;
    }

    .menu{
        display: block;
        justify-content: center;
    }
}

@media(max-width: 600px){
    
    .topo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    .menu ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .menu{
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
  
}

@media(max-width: 375px){

    .topo{
        font-size: 40px;
        margin-bottom: 60px;
    }
    .menu ul{
        font-size: 40px;
    }

    .cadastrar{
        font-size: 15px;
    }
}