@media (max-width: 1343px) {
  body {
    flex-direction: column;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .lista-imagens {
    display: block;
  }

  .informacoes {
    position: absolute;
    top: 80%;
    left: 7%;
  }
}
