body{
    max-width: 400px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content{
    border: none;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 2px rgb(238, 237, 237); 
}

input{
    border-color: rgb(212, 212, 212);
}

.nome, .sobrenome{
    background-color: rgb(247, 247, 247);
    height: 30px;
    border-radius: 6px;
    margin-top: 10px;
    
}

.contato, .senha{
    width: 95%;
    height: 30px;
    border-radius: 6px;
    background-color: rgb(247, 247, 247);
    margin-top: 10px;
}

select{
    border-radius: 5px;
    width: 30%;
    margin-left: 5px;
    height: 30px;
    margin-top: 5px;
}

h6{
    margin-top: 10px;
    margin-bottom: 0;
}
h5{
    margin-bottom: 15px;
    margin-top: 0px;
}

h1{
    margin-bottom: 2px;
}

.genero{
    width: 25%;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 6px;
    display: inline;
}


p{
    font-size: 10px;
    text-align: justify;
}

.divBotao{
    text-align: center;
    margin-bottom: 20px;
}

.botao{
    
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    width: 180px;
    font-weight: bold;
    font-size: large;
    border: 0;
    border-radius: 6px;
    color: white;
    background-color: #019101;
}

a{
    color: rgb(7, 72, 170);
    text-decoration: none;
}